In [8]:
a = {'1' :2}

In [9]:
if "12" in a:
    print(a["12"])

In [12]:
list(a.values())

[2]

In [13]:
for i in a.keys():
    print(i)

1

In [15]:
int(2.9)

2

In [17]:
int(3.)

3

In [44]:
a = set([2 ,3 ,4])

In [45]:
a

{2, 3, 4}

In [46]:
b = a.copy()

In [38]:
a.clear()

In [28]:
a

set()

In [41]:
b

{2, 3, 4}

In [69]:
for i in c:
    print(i.num)

2

In [71]:
for i in d:
    print(id(i))

4559624960

In [85]:
class hh:
    def __init__(self, num ):
        self.num = num
    
    def change(self):
        self.num = 0

In [86]:
a = hh(2)

In [87]:
b = set([a])

In [88]:
c = b

In [89]:
d = b.copy()

In [80]:
a.change()

In [96]:
for i in d:
    print(i.num)

2

In [94]:
b.clear()

In [97]:
for i in d:
    i.change()

In [98]:
a.num

0

In [99]:
not b

True